/*
Leander de Kraker
10423354
*/

.container{
	border-style: groove; 
}
.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area{
	fill: steelblue;
}

.svg3{
	z-index: -1;
}

#heatmap_DIV {
  position: relative;
}
#heatmap_axis,
#heatmap_canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#heatmap_canvas  {
  z-index: 1;
  top: 10px;
  margin-left: 50px;
}

.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 12px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Smoothing";
    padding-left: 5px;
    background-color: #3590C4; color: ;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #EEEEEE; color: ;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 16px; margin: 0.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 99px;
    border: 2px solid #999999; border-radius: 12px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}