/*
Leander de Kraker
10423354
*/
.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area{
	fill: steelblue;
}

.svg3{
	z-index: -1;
}

#heatmap_DIV {
  position: relative;
}
#heatmap_axis,
#heatmap_canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#heatmap_canvas  {
  z-index: 1;
  top: 10px;
  margin-left: 50px;
}