/*
Leander de Kraker
10423354
*/
.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area{
	fill: none;
}

.svg3{
	z-index: -1;
}